@tailwind base;
@tailwind components;
@tailwind utilities;

table, th, td {
    border: 1px solid #31c48d;
    padding: 3px;
}

input{
    border-radius: 10px !important;
}
input:focus{
    background-color: #f3faf7;
}
